<div class="bs-example">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#sectionA">Followings</a></li>
    <li><a data-toggle="tab" href="#sectionB">Followers</a></li>
  </ul>
  <div class="tab-content">
    <div id="sectionA" class="tab-pane fade in active">
      <h3>Followings</h3>
      <table class="table table-responsive">
        <thead>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <% @user.friends.each do |friend| %>
            <tr>
              <td>
                <%= friend.username %>
              </td>
              <td>
                <%= link_to "Unfollow",subscription_path(friend_id: friend),method: 'delete', class: 'pull-right' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div id="sectionB" class="tab-pane fade">
      <h3>Followers</h3>
        
      <table class="table table-responsive">
        <thead>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <% @user.inverse_friends.each do |friend| %>
          <tr>
            <td>
              <%= friend.username %>
            </td>
            <td></td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>