<div class="bs-example">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#sectionA">Followings</a></li>
    <li><a data-toggle="tab" href="#sectionB">Followers</a></li>
  </ul>
  <div class="tab-content">
    <div id="sectionA" class="tab-pane fade in active">
      <h3>Followings</h3>
      <div class="friend-row">
      <% @user.friends.each do |friend| %>
        <div class="col-xs-12">
        <div class="col-xs-6">
          <%= friend.username %>
        </div>
        <div class="col-xs-6">
          <%= link_to "Unfollow",subscription_path(friend_id: friend),method: 'delete', class: 'pull-right' %>
        </div>
        </div>
      <% end %>
      </div>
    </div>
    <div id="sectionB" class="tab-pane fade">
      <h3>Followers</h3>
      <div class="friend-row">
        <% @user.inverse_friends.each do |friend| %>
          <div class="col-xs-6">
            <%= friend.username %>
          </div>
          <div class="col-xs-6">
            
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>